@import "@app/styles";

.offer-card {
  height: 100%;
  padding: 32px 26px;
  gap: 22px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
  box-sizing: border-box;

  @include _768M {
    padding: 28px 26px;
  }

  @include _992M {
    padding: 36px;
  }

  &__title {
    font-size: 40px;
    max-width: 90%;

    @include _576M {
      max-width: 84%;
    }

    @include _992M {
      font-size: 46px;
      max-width: 62%;
    }
  }

  &__description {
    font-size: 16px;

    @include _992M {
      font-size: 24px;
    }
  }

  &__link {
    font-size: 16px;
    @include _992M {
      font-size: 22px;
    }
  }
}