@import "@app/styles";

.header {
  $header: &;

  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 0;
  position: sticky;
  background: $black;

  @include _768 {
    touch-action: none;
  }

  @include _768M {
    padding: 24px 0;
  }

  @include _992M {
    padding: 24px 0 20px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    z-index: 120;
    position: relative;

    @include _992 {
      width: 70px;
      height: 24px;
    }
  }

  &__nav {
    z-index: 110;
    font-size: 18px;

    @include _768M {
      display: flex;
      align-items: center;
      gap: 16px
    }

    @include _992M {
      gap: 40px;
    }

    @include _768 {
      right: 0;
      top: 100%;
      height: 100dvh;
      max-height: 0;
      width: 100%;
      position: absolute;
      background: $black;
      overflow: hidden;

      transition: max-height $transition;
    }

    &-btn {
      padding: 10px 0 10px 40px;

      @include _768 {
        width: 100%;
      }

      @include _768M {
        padding: 8px 18px;
      }

      @include _992M {
        padding: 8px 10px;
      }
    }
  }

  &__mobile {
    $mobile: &;

    &-btn {
      z-index: 150;
      width: 24px;
      height: 24px;
      position: relative;
      align-items: center;
      justify-content: center;

      @include _768M {
        display: none;
      }

      &:hover {
        opacity: 1;
      }
    }

    &-icon {
      width: 22px;
      height: 1px;
      display: block;
      background: $white;
      border-radius: 2px;
      position: relative;

      transition: transform $transition;

      &:after, &:before {
        content: '';
        width: 22px;
        height: 1px;
        display: block;
        background: $white;
        border-radius: 2px;
        position: absolute;

        transition: transform $transition, top $transition, bottom $transition;
      }

      &:before {
        bottom: 8px;
      }

      &:after {
        top: 8px;
        transition: opacity $transition;
      }
    }

    &_show {
      @include _768 {
        #{$header}__nav {
          max-height: 100dvh;
        }

        #{$mobile}-icon {

          transform: rotate(45deg);

          &:before {
            bottom: 0;
            transform: rotate(-90deg);
          }

          &:after {
            top: 0;
            opacity: 0;
          }
        }
      }
    }
  }
}