@import "@app/styles";

.main-page {
  $mainPage: &;

  padding-bottom: 50px;
  grid-gap: 50px;
  display: grid;
  color: $white;
  background-color: $sanJohn;

  @include _768M {
    padding-bottom: 54px;
    grid-gap: 54px;
  }

  @include _992M {
    padding-bottom: 60px;
    grid-gap: 60px;
  }
}
